<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{root_path}}{{lang_path}}index.html">Startseite</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{root_path}}{{lang_path}}about.html">Über uns</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{root_path}}{{lang_path}}services.html">Dienstleistungen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{root_path}}{{lang_path}}contact.html">Kontakt</a>
    </li>
</ul>