<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{root_path}}{{lang_path}}index.html">ホーム</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{root_path}}{{lang_path}}about.html">会社概要</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{root_path}}{{lang_path}}services.html">サービス</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{root_path}}{{lang_path}}contact.html">お問い合わせ</a>
    </li>
</ul> 