<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{root_path}}{{lang_path}}index.html">홈</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{root_path}}{{lang_path}}about.html">회사소개</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{root_path}}{{lang_path}}services.html">서비스</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{root_path}}{{lang_path}}contact.html">문의하기</a>
    </li>
</ul> 